* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: azure;
}

body {
  background-image: url('https://kartinkin.net/uploads/posts/2021-07/1626712802_31-kartinkin-com-p-zadnii-fon-dlya-tvicha-krasivo-31.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 350px;
  margin: 25px auto;
  font-family: 'Cuprum', sans-serif;
}

.search {
  display: flex;
  gap: 10px;
}

input {
  display: block;
  width: 80%;
  line-height: 3em;
  border-radius: 1.5em;
  border: 1px solid;
  padding: 0 1.5em;
  color: black;
  font-size: 16px;
  font-family: 'Cuprum', sans-serif;
}
.date-location {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-btn {
  font-family: 'Cuprum', sans-serif;
  width: 5em;
  color: black;
  appearance: none;
  background-color: rgb(255, 255, 255);
  border-radius: 1em;
  border-radius: 3;
}
.current-time {
  font-size: 25px;
}

.current-city {
  font-size: 30px;
}
#root {
  border-radius: 15px;
  padding: 15px;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.weather-temp {
  font-size: 35px;
}
.first-box,
.second-box,
.thrid-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.thrid-box {
  margin-top: 30px;
}
.mix-max-t {
  display: flex;
  flex-direction: column;
  text-align: left;
}
